.menu-text{
	font-size: 21pt;
	color: #fff;
}

.menu-text > a{
	color: #fff;
}

.signup-panel {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 15px;
  margin-top: 30px;
}
.signup-panel i {
  font-size: 30px;
  line-height: 50px;
  color: #999;
}
.signup-panel form input, .signup-panel form span {
  height: 50px;
}
.signup-panel .welcome {
  font-size: 26px;
  text-align: center;
  margin-left: 0;
}
.signup-panel p {
  font-size: 13px;
  font-weight: 200;
  margin-left: 25%;
}
.signup-panel .button {
  margin-left: 35%;
}

.reg-form{
	width: 600px;	
	width: 50%;
    margin: 30px auto;
}



.home_callout {background-image: url(../img/bg.jpg); 
	-moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; 
margin: 0px;}

.greetings {padding-top: 35px;}

.myname { font-size: 20px;}

.ava{
  height:330px;
  width:300px;
  margin-bottom: 25px;
}

.ava_list{
  height:200px;
  width:200px;
}

.user_content{
  margin-top: 30px;
  
}
.btn_changephoto { font-size: 15pt;}

.logo {height:30px;
  width:30px;}
  
.users_list{
  margin-top:35px;
}

.messages_list{
  margin-top: 35px;
}

.small_avatar{
  width: 100px;
  height: 100px;
}